body {
  background-image: url("/foto_fundo.jpg");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.tudo {
  background-color: rgba(255, 255, 255, 0.09);
  max-width: 500px; /* Limitar a largura do conteúdo */
  margin: 0 auto; /* Centraliza o conteúdo */
  border-radius: 1%;
  padding: 0 2rem 1rem 2rem;
}

h1 {
  text-align: center;
  margin-top: 27rem;
  color: rgba(255, 255, 255, 0.7);
}

h5 {
  text-align: center;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

.conjunto_senha {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  place-content: center;
  place-items: center;
  margin-top: 3rem;
  gap: 0.4rem;
}

.senha {
  background-color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5%;
}

::placeholder {
  color: black;
  font-size: 0.8rem;
}
button {
  background-color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  border: 1px solid black;
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url("/foto_fundo_dois.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
}
